/*start new trnrtips edits*/


#logo2 {
  position: relative;
  right: 300px;
  top: 50px;

}

.navbar {
  
  max-height:120px;
  background-color: transparent;
}

#main-pic{
  position: relative;
  opacity:1;
  top: -480px;
  right: 300px;
  z-index: -5;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  


}


/*end new trnrtips edits*/

/*for intro animations*/

.fadeOut {
  animation-delay: 4s;
}

.slideOutLeft {
  animation-delay: 4s;

}

.slideInRight {
}

.fadeIn {
  animation-delay: 4s;
  animation-duration: 1s;
  height: 10px;
}

.fadeInDown {
  animation-delay: 1s;
  animation-duration: 1s;
}

.fadeInUp {
  animation-delay: 6s;
  margin-left: 40px;

}

/*end animation section*/




#alignRight {
  	align-items: flex-end;
}

#btnLogout {
    position: absolute;
    left: 600px;
}

#financeChartExample {
    height: 500px;
}



.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;

}

.navbar-brand a:hover {
 color: yellow;

}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 0px;

  }
}



.large-text {
	font-size: 2rem;
}

.blue-text {
	color: #2b90d9;
}

.get-details:hover {
  color: #2b90d9;
  cursor: pointer;
}


#profile-pic{
  opacity:1;
  position: :fixed;
  width:225px;
  height: 275px;

}
.ProjectBox {
  background-color: white;
/*  border-width: 10px;
  border-style: solid;
  border-color: black;*/
  padding: 0px;
  width:2000px;
  height: 325px;

}

img {
    height: auto; /* Make sure images are scaled correctly. */
width: 100%; /* Adhere to container width. */
display:block;
 }
.hm-blue-strong{
  position: relative;
  width:250px;
  height:250px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
margin: 0px;
  vertical-align:top;
  background-size: 100% 100%
}

/*speech bubble css*/

.speech-bubble {
  position: absolute;
  background: #000000;
  border-radius: .4em;
  left: 240px;
  top: 30px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 44px solid transparent;
  border-right-color: #000000;
  border-left: 0;
  border-bottom: 0;
  margin-top: -22px;
  margin-left: -44px;
}

#speechText{
  font-size: 50px;
  margin: 30px;
  color: white;
}

#speechText2{
  font-size: 20px;
  margin: 30px;
  color: white;
}
/*margin around projects*/


.infoBox 
  {
  background-color: white;
  padding: 0px;
  width:2000px;
  height: 325px;
  border-style: solid;
  border-width: 5px;
  border-color: black;

}



#spinText {
  color: black;
  font-weight: 10px;
}

/*for face spin / formatting*/

#face
  {
    position:relative;
    transition: .5s all;
    height: 250px;
    width: 250px;


  }

#face:hover{
  transform:rotate(360deg);
}

#bottomDiv {
  top: -100px;
  right: 500px;
}





